{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin_user_index') }}">{% trans %}Back{% endtrans %}</a>
    <hr>
    <h1>
        {{ user.displayName|upper }}
        <a href="{{ path('admin_user_edit', { user: user.id }) }}" class="fas fa-edit"></a>
    </h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{% trans %}Firstname{% endtrans %}</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>{% trans %}Email{% endtrans %}</th>
            <td>{{ user.email }}</td>
        </tr>
        </tbody>
    </table>
    <h4>User activities</h4>
    <hr>
    <div class="row">
        <div class="col-md-10">
            <h4><i class="fas fa-star favorite"></i> Favorited posts</h4>
            {% for favorite in favorites %}
                <li class="list-group-item">
                    <a href="{{ path('post_show', { post: favorite.post.slug }) }}">   {{ favorite.post.title }}</a>
                </li>
            {% endfor %}
            <hr>
            <h4><i class="fas fa-comments"></i> User comments</h4>
            {% for comment in comments %}
                <li class="list-group-item">
                    <a href="{{ path('post_show', { post: comment.post.slug }) }}">   {{ comment.content }} - {{ comment.created|date('d.m.Y') }}</a>
                </li>
            {% endfor %}
            <hr>
            <h4><i class="fas fa-heart"></i></h4>
            {% for like in likes %}
                <li class="list-group-item">
                    <a href="{{ path('post_show', { post: like.post.slug }) }}">   {{ like.post.title }}  ({{ like.value }} <i class="fas fa-sign-language"></i>)</a>
                </li>
            {% endfor %}
        </div>
    </div>


{% endblock %}