<div id="post-container">
    {# table body #}
    {% for post in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>
                <p>
                    {{ post.title }} - {{ post.dateCreated|date('j.m.Y')}}
                    <div class="col-md-2">
                        <a href="{{ path('admin_post_show', { post: post.slug }) }}" class="fas fa-hand-point-up"></a>
                        <a href="{{ path('admin_post_delete', { post: post.slug }) }}" class="fas fa-trash"></a>
                        <a href="{{ path('admin_post_edit', { post: post.slug }) }}" class="fas fa-edit"></a>
                    </div>
                </p>

            </td>
        </tr>

    {% endfor %}

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
    