<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}fantastic blog{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
    <a style="margin-left: 75px;" class="navbar-brand" href="{{ path('post_index') }}">Fantastic blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a style="color: #fff;" class="nav-link" href="{{ path('admin_index') }}">Admin</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ path('post_index') }}">
            <input class="form-control mr-sm-2" role="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
        </form>

        <form class="navbar-form" role="search" style="position: absolute; right: 20px;">
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" style="margin-right: 75px;">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <img class="nav-profile-img rounded-circle" src="{{ asset('images/avatar.jpg') }}">
                </a>
                <div class="dropdown-menu">
                    {% if is_granted('ROLE_USER') %}
                        <a class="dropdown-item" href="{{ path('user_show') }}">Profile</a>
                        <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('login') }}">Login</a>
                        <a class="dropdown-item" href="{{ path('register') }}">Registration</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% block leftSidebar %}
            {% endblock %}
        </div>
        <div class="col-md-8">
            {% block body %}
            {% endblock %}
        </div>
        <div class="col-md-2">
            {% block rightSidebar %}
            {% endblock %}
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container text-center">Made by Ante Domjanovic with holiday cheers</div>
</footer>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        $('.dropdown-toggle').dropdown();
    </script>
{% endblock %}
</body>
</html>